<main class="container">
    <h1>Catálogo de Livros</h1>
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th>Título</th>
          <th>Editora</th>
          <th>Resumo</th>
          <th>Autores</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">
          <td>
            {{livro.titulo}}
            <button type="button" class="btn btn-danger" (click)="excluir(livro.codigo)">
              Excluir
            </button>
          </td>
          <td>{{obterNome(livro.codEditora)}}</td>
          <td>{{livro.resumo}}</td>
          <td>
            <ul>
              <li *ngFor="let autor of livro.autores">{{autor}}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  